@extends('layouts.master2')

@section('css')
<link rel="stylesheet" href="{{asset('css/user/home.css')}}">
@stop

@section('nav')

@include('includes.nav')

@stop

@section('content')
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Neue Buchung</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form" method="POST">
          @csrf
           <div class="form-group">
            <label for="recipient-name" class="col-form-label">Name:</label>
            <input type="text" name="name" value="{{$user->name}}" class="form-control {{ $errors->has('name') ? ' is-invalid' : '' }}" id="recipient-name">
             @if ($errors->has('von'))
                <span class="invalid-feedback" role="alert">
                    <strong>{{ $errors->first('name') }}</strong>
                </span>
               @endif
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Von:</label>
            <input type="date" name="von" class="form-control {{ $errors->has('von') ? ' is-invalid' : '' }}" id="recipient-name">
            @if ($errors->has('von'))
                <span class="invalid-feedback" role="alert">
                    <strong>{{ $errors->first('von') }}</strong>
                </span>
               @endif
          </div>
           <div class="form-group">
            <label for="recipient-name" class="col-form-label">Bis:</label>
            <input type="date" name="bis" class="form-control {{ $errors->has('bis') ? ' is-invalid' : '' }}" id="recipient-name">
            @if ($errors->has('vorname'))
                <span class="invalid-feedback" role="alert">
                    <strong>{{ $errors->first('bis') }}</strong>
                </span>
               @endif
          </div> 
          <div class="form-group">
            <label for="message-text" class="col-form-label">Event:</label>
            <textarea class="form-control {{ $errors->has('message') ? ' is-invalid' : '' }}" name="message" id="message-text"></textarea>
            @if ($errors->has('vorname'))
                <span class="invalid-feedback" role="alert">
                    <strong>{{ $errors->first('message') }}</strong>
                </span>
               @endif
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
        <button type="submit" class="btn btn-primary">Buchen</button>
      </div>
    </div>
  </div>
</div>

  <h1 class="mt-4 mb-3">{{$gebaude->name}}'s Räume 
    <small></small>
  </h1>

    @foreach($raume as $raum)   

    <!-- Project One -->
      <div class="row">
        <div class="col-md-5">
          <a href="{{$raum->id}}">
            <img style="width:100%;height: auto;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 12px 20px 0 rgba(0, 0, 0, 0.19);opacity: .8;
              filter: alpha(opacity=50); /* For IE8 and earlier */" class="img-fluid rounded mb-3 mb-md-0" src="http://localhost:8000/storage/raum/{{$raum->image}}" alt="">
          </a>
        </div>
          <div class="col-md-5" style="width:20%;">
          <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">N°</th>
              <th scope="col">Von</th>
              <th scope="col">Bis</th>
              <th scope="col">Event</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>Neue BuchungNeue Buchung</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
        </div>
        <div class="col-md-2">
          <h3>N°: {{$raum->raum_number}}</h3><br>
          <p><strong>Name: </strong>{{$raum->name}}</p>
          <p><strong>Datum: </strong>{{\Carbon\Carbon::parse($raum->created_at)->format('d/m/Y')}}</p>
          <a style="color:white;" href="{{route('Buchung.create',[$raum->gebaude->id,$raum->name])}}" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Buchen</a>  
        </div>
      </div>
      <!-- /.row -->

      <hr>
  <!-- /.row -->
  @endforeach
  <hr>
  {{$raume->links()}}
</div>
@stop
//  if (! \Carbon\Carbon::parse($request->von)->format('d/m/Y') >= Carbon::now()->format('d/m/Y') && \Carbon\Carbon::parse($request->bis)->format('d/m/Y') > Carbon::now()->format('d/m/Y') && ! \Carbon\Carbon::parse($request->von)->format('H:i:s') >= '09:00:00' && ! \Carbon\Carbon::parse($request->bis)->format('H:i:s') <= '22:00:00') 
     //  {

     //       flash('Das Datum, welches Sie angegeben haben liegt in der Vergangenheit!')->error();
     //       return back()->withInput();
     //   } 
      
     // // find aktuellen Raum der gebucht wird
     // $raum = Gebaude::find(request('id'))->raume()->where('name',request('name'))->first();